<h1><%= @zoo.name %></h1>

<p>Is the zoo open: <%= @zoo.open %></p>
<p>Number of people in the zoo: <%= @zoo.num_of_people %></p>
<p>Day the zoo opened: <%= @zoo.opening_day %></p>
<p>When the latest animal was added: <%= @zoo.animal_added %></p>