<p><a href="/zoos">Zoos</a></p> <p><a href="/zoos/<%= @zoo.id %>/animals">Animals</a></p>

<h1><%= @zoo.name %></h1>

<p>Is the zoo open: <%= @zoo.open %></p>
<p>Number of people in the zoo: <%= @zoo.num_of_people %></p>
<p>Created At: <%= @zoo.created_at %></p>
<p>Updated At: <%= @zoo.updated_at %></p>
<p>Number of animals: <%= @zoo.animals.count %> </p>
<a href="/zoos/<%= @zoo.id %>/edit">Update Zoo</a>
<p><%= link_to "Delete Zoo", "/zoos/#{@zoo.id}", method: :delete%></p>