<h1>Guests:</h1>

<% @guests.each do |guest| %>
  <h3>Name: <%= guest.name %></h3>
  <p>Royalty Member?: <%= guest.royalty_member %></p>
  <p>Room Number: <%= guest.room_number %></p>
  <p>Created At: <%= guest.created_at %></p>
  <p>Updated At: <%= guest.updated_at %></p>
<% end %>