<h1><%= @guest.name %></h1>

<p>Royalty Member?: <%= @guest.royalty_member %></p>
<p>Room Number: <%= @guest.room_number %></p>
<p>Check-In Time: <%= @guest.check_in %></p>
<p>Expected Check-Out Time: <%= @guest.expected_check_out %></p>
