<p><a href="/zoos">Zoos</a></p>

<h1>Animals:</h1>

<% @animals.each do |animal| %>
  <h3>Name: <%= animal.name %></h3>
  <p>Has Covid?: <%= animal.has_covid %></p>
  <p>Age: <%= animal.age %></p>
  <p>Created At: <%= animal.created_at %></p>
  <p>Updated At: <%= animal.updated_at %></p>
  <p><a href="/animals/<%= animal.id %>/edit">Update <%= animal.name %></a><%= link_to "Delete", "/animals/#{animal.id}", method: :delete%></p>

<% end %>
