<p><a href="/zoos">Zoos</a></p> <p><a href="/animals">Animals</a></p>

<h1><%= @animal.name %></h1>
<p>Has Covid?: <%= @animal.has_covid %></p>
<p>Age: <%= @animal.age %></p>
<p>Created At: <%= @animal.created_at %></p>
<p>Updated At: <%= @animal.updated_at %></p>

<a href="/animals/<%= @animal.id %>/edit">Update Animal</a>
<p><%= link_to "Delete Animal", "/animals/#{@animal.id}", method: :delete%></p>