<h1><%= @animal.name %></h1>
<p>Has Covid?: <%= @animal.has_covid %></p>
<p>Age: <%= @animal.age %></p>
<p>Arrival at Zoo: <%= @animal.day_added %></p>
<p>Release Back Into Wild Date: <%= @animal.release_date %></p>