<h1><%= @animal.name %></h1>
<p>Has Covid?: <%= @animal.has_covid %></p>
<p>Age: <%= @animal.age %></p>
<p>Arrival at Zoo: <%= @animal.created_at %></p>
<p>Release Back Into Wild Date: <%= @animal.updated_at %></p>