<p><a href="/guests">Guests</a></p>

<h1>Hotels</h2>

<a href="/hotels/new">New Hotel</a>

<% if url='/hotels?sort=true' %>
  <% @hotels.each do |hotel| %>
    <h3><a href="/hotels/<%= hotel.id %>"><%= hotel.name %></a>: <%= hotel.created_at %> <a href="/hotels/<%= hotel.id %>/edit">Update <%= hotel.name %></a> <%= link_to "Delete", "/hotels/#{hotel.id}", method: :delete%></h3>
    <h3>Number of guests: <%= hotel.guests.length %></h3>
  <% end %>
<% else %>
  <% @hotels.each do |hotel| %>
  <h3><a href="/hotels/<%= hotel.id %>"><%= hotel.name %></a>: <%= hotel.created_at %> <a href="/hotels/<%= hotel.id %>/edit">Update <%= hotel.name %></a> <%= link_to "Delete", "/hotels/#{hotel.id}", method: :delete%></h3>
  <% end %>
<% end %>

<%= link_to "Sort by guests", "/hotels?sort=true", method: :get %>