<h1><%= @hotel.name %></h1>

<p>Does the hotel have open rooms: <%= @hotel.vacancy %></p>
<p>Number of occupied rooms: <%= @hotel.occupancy %></p>
<p>Day the hotel opened: <%= @hotel.created_at %></p>
<p>When the latest person checked in: <%= @hotel.updated_at %></p>