<p><a href="/hotels">Hotels</a></p> <p><a href="/hotels/<%= @hotel.id %>/guests">Guests</a></p>

<h1><%= @hotel.name %></h1>

<p>Does the hotel have open rooms: <%= @hotel.vacancy %></p>
<p>Number of occupied rooms: <%= @hotel.occupancy %></p>
<p>Created At: <%= @hotel.created_at %></p>
<p>Updated At: <%= @hotel.updated_at %></p>
<p>Number of guests: <%= @hotel.guests.count %> </p>
<a href="/hotels/<%= @hotel.id %>/edit">Update Hotel</a>
<p><%= link_to "Delete Hotel", "/hotels/#{@hotel.id}", method: :delete%></p>